<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerLinks}}
</head>

<body>
    {{>scrollTop}}


   {{>header_last}}

    {{!-- {{>cart_last}} --}}

<!-- ===============hero section start ======== -->
    <div class="hero-section">
        
    <div class="bg_img hero-bg bottom_center" data-background="assets/images/banner/hero-bg.png"></div>
</div>

    <!--============= About Section Starts Here =============-->
    <section class="about-section">
        <div class="container">
            <div class="about-wrapper mt--100 mt-lg--440 padding-top">
                <div class="row">
                    <div class="col-lg-7 col-xl-6">
                        <div class="about-content">
                            
                            <h2 class="title"><span class="d-block">ONLINE AUCTION</span> AVAILABLE,AFFORDABLE,COMFORTABLE</h2>
                            <p>The ultimate bidding strategy
                                where timing matters. Lid it, Bid it, Try it,Win it.</p>
                            <div class="item-area">
                                <div class="item">
                                    <div class="thumb">
                                        <img src="assets/images/about/01.png" alt="about">
                                    </div>
                                    <p>award-winning team</p>
                                </div>
                                <div class="item">
                                    <div class="thumb">
                                        <img src="assets/images/about/02.png" alt="about">
                                    </div>
                                    <p>AFFILIATIONS</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="about-thumb">
                    <img src="assets/images/about/about.png" alt="about">
                </div>
            </div>
        </div>
    </section>
    <!--============= About Section Ends Here =============-->


    
     <!--============= Overview Section Starts Here =============-->
    <section class="overview-section padding-top padding-bottom">
        <div class="container mw-lg-100 p-lg-0">
            <div class="row m-0">
                <div class="col-lg-6 p-0">
                    <div class="overview-content">
                        <div class="section-header text-lg-left">
                            <h2 class="title">What can you expect?</h2>
                            <p>Services we offered for Vendors are to accelerate  their business processes and connects you with rated buyers or new and existing customers can also apply best market value for their products  & Customer can  do effective savings on purchase and connect to sellers on a global scale also have buying power with wide supplier network.</p>
                        </div>
                        <div class="row mb--50">
                            <div class="col-sm-6">
                                <div class="expert-item">
                                    <div class="thumb">
                                        <img src="assets/images/overview/01.png" alt="overview">
                                    </div>
                                    <div class="content">
                                        <h6 class="title">Real-time Auction</h6>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-sm-6">
                                <div class="expert-item">
                                    <div class="thumb">
                                        <img src="assets/images/overview/03.png" alt="overview">
                                    </div>
                                    <div class="content">
                                        <h6 class="title">Winner Announcement</h6>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-sm-6">
                                <div class="expert-item">
                                    <div class="thumb">
                                        <img src="assets/images/overview/05.png" alt="overview">
                                    </div>
                                    <div class="content">
                                        <h6 class="title">Show all bidders history</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="expert-item">
                                    <div class="thumb">
                                        <img src="assets/images/overview/06.png" alt="overview">
                                    </div>
                                    <div class="content">
                                        <h6 class="title">Add to watchlist</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 pl-30 pr-0">
                    <div class="w-100 h-100 bg_img" data-background="assets/images/overview/overview-bg.png"></div>
                </div>
            </div>
        </div>
    </section>
    <!--============= Overview Section Ends Here =============-->

{{!-- 
    <!--============= Call In Section Starts Here =============-->
    <section class="call-in-section  padding-bottom">
       
        
    </section>
    <!--============= Call In Section Ends Here =============--> --}}





      <!--============= Team Section Starts Here =============-->
    <section class="team-section section-bg padding-top padding-bottom" id="team">
        <div class="container">
            <div class="section-header">
                <h2 class="title">Meet the Management Team</h2>
                <p>Our team consists of passionate and talented individuals invested in this success of ours .</p>
            </div>
            <div class="team-wrapper row justify-content-between">
                <div class="team-item">
                    <div class="team-inner">
                        <div class="team-thumb">
                            
                                <img src="assets/images/team/team1.png" alt="team">
                            
                        </div>
                        <div class="team-content">
                            <h6 class="title">Vratika Khandelwal</h6>
                            <ul class="social">
                                <li>
                                    <a href="https://www.facebook.com/profile.php?id=100011044987404" target="_vratika"><i class="fab fa-facebook-f"></i></a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/Vratika05khand1" target="_vratika"><i class="fab fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/vk_vratika/" target="_vratika"><i class="fab fa-instagram"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="team-item">
                    <div class="team-inner">
                        <div class="team-thumb">
                            <img src="assets/images/team/team2.png" alt="team">
                        </div>
                        <div class="team-content">
                            <h6 class="title">Sourabh Saini</h6>
                            <ul class="social">
                                <li>
                                    <a href="https://www.facebook.com/profile.php?id=100007313895105" target="_Sourabh"><i class="fab fa-facebook-f"></i></a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/Sourabh48517682" target="_Sourabh"><i class="fab fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/anonymous_whitehack/" target="_Sourabh"><i class="fab fa-instagram"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="team-item">
                    <div class="team-inner">
                        <div class="team-thumb">
                            <img src="assets/images/team/team3.png" alt="team">
                        </div>
                        <div class="team-content">
                            <h6 class="title">Vikram Singh</h6>
                            <ul class="social">
                                <li>
                                    <a href="https://www.facebook.com/vikram.singhjadoun.311" target="_vikram"><i class="fab fa-facebook-f"></i></a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/vikrams56118640" target="_vikram"><i class="fab fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/vykrram/" target="_vikram"><i class="fab fa-instagram"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="team-item">
                    <div class="team-inner">
                        <div class="team-thumb">
                            <img src="assets/images/team/team4.png" alt="team">
                        </div>
                        <div class="team-content">
                            <h6 class="title">Tripti Verma</h6>
                            <ul class="social">
                                <li>
                                    <a href="https://www.facebook.com/Chinu.Nikki.1611" target="_tripti"><i class="fab fa-facebook-f"></i></a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/TriptiV67417766?s=08"  target="_tripti"><i class="fab fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/traps_157/" target="_tripti"><i class="fab fa-instagram"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--============= Team Section Ends Here =============-->

    {{>testimonials}}

    {{>footer}}


    {{>scriptLinks}}
</body>



</html>
