<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MY APP</title>
</head>
<body>
   
 
  <!--  SINGLE FILE -->
{{!-- <form action="/uploadfile.html" enctype="multipart/form-data" method="POST"> 
   <input type="file" name="myFile" />
   <input type="submit" value="Upload a file"/>
</form> --}}
 
 
<!-- MULTIPLE FILES -->
 
{{!-- <form action="/uploadmultiple"  enctype="multipart/form-data" method="POST">
  Select images: <input type="file" name="myFiles" multiple>
  <input type="submit" value="Upload your files"/>
</form> --}}
 
  <!--   PHOTO-->
{{!--  
<form action="/uploadimage.html" enctype="multipart/form-data" method="POST"> 
    <input type="text" name="name" autocomplete="off" required>
  <input type="file" name="error" accept="image/*" />
  <input type="submit" value="Upload Photo"/>
</form> --}}
{{!-- <div style="display: block;">
<img style="width: 100vw; height: 100vh;" src="{{imgSrc}}" alt="{{imgAlt}}">
 </div> --}}
 
 
</body>
</html>