<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerLinks}}
</head>

<body>
    <h1>{{date}}</h1>
    {{>scrollTop}}


   {{>header_last}}


    {{>banner_last}}


    {{>highlight}}


    {{>featureAuction}}


    {{>upcomingAuction}}


    {{>howItWorks}}


    <!--============= Call In Section Starts Here =============-->
    <!-- <section class="call-in-section padding-top">
        <div class="container">
            <div class="call-wrapper cl-white bg_img" data-background="assets/images/call-in/call-bg.png">
                <div class="section-header">
                    <h3 class="title">Register for Free & Start Bidding Now!</h3>
                    <p>From cars to diamonds to iPhones, we have it all.</p>
                </div>
                <a href="sign-up.html" class="custom-button white">Register</a>
            </div>
        </div>
    </section> -->
    <!--============= Call In Section Ends Here =============-->


    {{>testimonials}}


    {{>footer}}



    {{>scriptLinks}}
</body>
</html>