  <!--============= Header Section Starts Here =============-->
    <header>
        <div class="header-top">
            <div class="container">
                <div class="header-top-wrapper">
                    <ul class="customer-support">
                        <li>
                            <a href="#footer" class="mr-3"><i class="fas fa-phone-alt"></i><span class="ml-2 d-none d-sm-inline-block">Customer Support</span></a>
                        </li>
                        
                    </ul>
                    <ul class="cart-button-area">
                        {{!-- <li>
                            <a href="#0" class="cart-button"><i class="flaticon-shopping-basket"></i><span class="amount">08</span></a>
                        </li> --}}
                        {{#if authenticate}}                        
                        <li>
                            <a href="dashboard.html" class="user-button"><i class="flaticon-user"></i></a>
                        </li>
                        {{else}} 
                        <li>
                            <a href="sign-in.html" class="user-button"><i class="flaticon-user"></i></a>
                        </li>
                        {{/if}}                      
                    </ul>
                </div>
            </div>
        </div>
        <div class="header-bottom">
            <div class="container">
                <div class="header-wrapper">
                    <div class="logo">
                        <a href="/">
                            <img src="assets/images/logo/logo.png" alt="logo">
                        </a>
                    </div>
                    <ul class="menu ml-auto">
                        <li>
                            <a href="/">Home</a>
                            
                        </li>
                        <li>
                            <a href="about.html">About Us</a>
                        </li>
                        {{#if authenticate}}
                        <li>
                            <a href="product.html">Auction</a>
                            {{!-- <ul class="submenu">
                                <li>
                                    <a href="/product.html">Upcoming Auction</a>
                                </li>
                                <li>
                                    <a href="ending.html">Ending Auction</a>
                                </li>
                                <li>
                                    <a href="feature-auction-section.html">Featured Auction</a>
                                </li>
                                <li>
                                    <a href="#upcoming_auction">Upcoming Auction</a>
                                </li>
                               
                            </ul> --}}
                            
                        </li>
                        {{else}}
                        <li>
                            <a href="sign-in.html">Auction</a>
                        </li>
                        {{/if}}
                        <li>
                             <a href="#carouselExampleIndicators">Services</a>
                                    
                        </li>
                        <li>
                            <a href="contact.html">Contact</a>
                        </li>
                        <li>
                            <a href="feedback.html">Feedback</a>
                        </li>
                    </ul>
                    {{!-- <form class="search-form">
                        <input type="text" placeholder="Search for brand, model....">
                        <button type="submit"><i class="fas fa-search"></i></button>
                    </form>
                    <div class="search-bar d-md-none">
                        <a href="#0"><i class="fas fa-search"></i></a>
                    </div> --}}
                    <div class="header-bar d-lg-none">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
    </header>


   <!----     =========header ends here======-->
