    <!--============= Hightlight Slider Section Starts Here =============-->
    <div class="browse-slider-section mt--140">
        <div class="container">
            <div class="section-header-2 mb-4">
                <div class="left">
                    <h6 class="title cl-white cl-lg-black pl-0">Browse the highlights</h6>
                </div>
                <div class="slider-nav">
                    <a href="#0" class="bro-prev"><i class="flaticon-left-arrow"></i></a>
                    <a href="#0" class="bro-next active"><i class="flaticon-right-arrow"></i></a>
                </div>
            </div>
            <div class="m--15">
                <div class="browse-slider owl-theme owl-carousel">
                    <a href="#0" class="browse-item">
                        <img src="assets/images/auction/01.png" alt="auction">
                        <span class="info">Vehicles</span>
                    </a>
                    <a href="#0" class="browse-item">
                        <img src="assets/images/auction/02.png" alt="auction">
                        <span class="info">Jewelry</span>
                    </a>
                    <a href="#0" class="browse-item">
                        <img src="assets/images/auction/03.png" alt="auction">
                        <span class="info">Watches</span>
                    </a>
                    <a href="#0" class="browse-item">
                        <img src="assets/images/auction/04.png" alt="auction">
                        <span class="info">Electronics</span>
                    </a>
                    <a href="#0" class="browse-item">
                        <img src="assets/images/auction/05.png" alt="auction">
                        <span class="info">Sports</span>
                    </a>
                    <a href="#0" class="browse-item">
                        <img src="assets/images/auction/06.png" alt="auction">
                        <span class="info">Real Estate</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!--============= Hightlight Slider Section Ends Here =============-->