 <!--================services coloumn=================-->

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
         <ol class="carousel-indicators">
           <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        </ol>  
        
        <div class="carousel-inner">
          <div class="carousel-item active">
           
            <section class="how-section padding-top">
                <div class="container">
                    <div class="how-wrapper section-bg">
                        <div class="section-header text-lg-left">
                            <h2 class="title">How it works for Customer</h2>
                            <p>Easy 3 steps to sell</p>
                        </div>
                        <div class="row justify-content-center mb--40">
                            <div class="col-md-6 col-lg-4">
                                <div class="how-item">
                                    <div class="how-thumb">
                                        <img src="assets/images/how/how1.png" alt="how">
                                    </div>
                                    <div class="how-content">
                                        <h4 class="title">Sign Up</h4>
                                        <p>No Credit Card Required</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <div class="how-item">
                                    <div class="how-thumb">
                                        <img src="assets/images/how/how2.png" alt="how">
                                    </div>
                                    <div class="how-content">
                                        <h4 class="title">Bid</h4>
                                        <p>Bidding is free Only pay if you win</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <div class="how-item">
                                    <div class="how-thumb">
                                        <img src="assets/images/how/how3.png" alt="how">
                                    </div>
                                    <div class="how-content">
                                        <h4 class="title">Win</h4>
                                        <p>Fun - Excitement - Great deals</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
          </div>
          <div class="carousel-item">
            <section class="how-section padding-top">
                <div class="container">
                    <div class="how-wrapper section-bg">
                        <div class="section-header text-lg-left">
                            <h2 class="title">How it works for Vendor</h2>
                            <p>Easy 3 steps to win</p>
                        </div>
                        <div class="row justify-content-center mb--40">
                            <div class="col-md-6 col-lg-4">
                                <div class="how-item">
                                    <div class="how-thumb">
                                        <img src="assets/images/how/how1.png" alt="how">
                                    </div>
                                    <div class="how-content">
                                        <h4 class="title">Sign Up</h4>
                                        <p>No Credit Card Required</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <div class="how-item">
                                    <div class="how-thumb">
                                        <img src="assets/images/how/how2.png" alt="how">
                                    </div>
                                    <div class="how-content">
                                        <h4 class="title">Add Items For Sell</h4>
                                        <p>Add bid on item by your comfort</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <div class="how-item">
                                    <div class="how-thumb">
                                        <img src="assets/images/how/how3.png" alt="how">
                                    </div>
                                    <div class="how-content">
                                        <h4 class="title">Sell Products</h4>
                                        <p>Fun - Excitement - Great deals</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
          </div>
         
        </div>
        <a  class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a  class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

     <!--================services coloumn=================--> 