 <div class="col-sm-10 col-md-7 col-lg-4">
                    <div class="dashboard-widget mb-30 mb-lg-0 sticky-menu">
                        <div class="user">
                            <div class="thumb-area">
                                <div class="thumb">
                                    <img src="assets/uploads/{{img}}" alt="user">
                                </div>
                                <form action="/profile.html"  enctype="multipart/form-data" method="post">
                                <label for="profile-pic" class="profile-pic-edit"><i class="flaticon-pencil"></i></label>
                                <input type="file" id="profile-pic" onchange="this.form.submit()" name="error" accept="image/*" class="d-none">
                                </form>
                            </div>
                            <div class="content">
                                <h5 class="title"><a href="#0">{{name}}</a></h5>
                                <span class="username">{{email}}</span>
                            </div>
                        </div>
                        <ul class="dashboard-menu">
                            <li>
                                <a href="dashboard.html"><i class="flaticon-dashboard"></i>Dashboard</a>
                            </li>
                            <li>
                                <a href="/profile.html"><i class="flaticon-settings"></i>Personal Profile </a>
                            </li>
                            {{!-- <li>
                                <a href="my-bid.html"><i class="flaticon-auction"></i>My Bids</a>
                            </li>
                            <li>
                                <a href="winning-bids.html"><i class="flaticon-best-seller"></i>Winning Bids</a>
                            </li>
                            <li>
                                <a href="#"><i class="flaticon-best-seller"></i>Winning Bids</a>
                            </li>
                            <li>
                                <a href="notifications.html"><i class="flaticon-alarm"></i>My Alerts</a>
                            </li>
                            <li>
                                <a href="#"><i class="flaticon-alarm"></i>My Alerts</a>
                            </li>
                            <li>
                                <a href="my-favorites.html"><i class="flaticon-star"></i>My Favorites</a>
                            </li>
                            <li>
                                <a href="referral.html"><i class="flaticon-shake-hand"></i>Referrals</a>
                            </li> --}}
                            <li>
                                <a href="/logout.html"><i class="flaticon-logout"></i>Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>